	<aside>
		<h4>Follow us!</h4>
		{% include follow-links.html %}
		{% if page.is_post %}		<hr />		<h4>Share this page!</h4>{% include social-links.html %}{% endif %}
		<!-- 		<form action="#" method="post">
	<label for="emailAddress">Enter your email address to receive updates directly to your email inbox, and no spam!*</label>
	<input type="email" id="emailAddress" required />
	<button type="submit">Sign up!</button>
	<p>* Unless, of course, we're discussing spam.</p>
</form> -->
		<hr />
<!-- Advertising in here. -->
	</aside>
